body {
  margin: 0;
  padding: 0;
}
.contact-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 2rem;
  height: 100vh;
  text-decoration: none;
  text-decoration-color: cyan;
  font-size: 2rem;
  
  > textarea {
    height: 20rem;
  } > .submit{
    align-items: end;
  }

} 

.contact-container h1{
  color: #fff;
  
}
.contact-container span {

  color: cyan;
}


.contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  top: 0;
  margin-bottom: 4rem;
}
.contact-sci {
  align-items: center;
  margin-top: 0;
  color: #081b29;
}
.contact-inputs {
  width: 600px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  font-size: 20px;
  color: #666;
  border-radius: 50px;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
  border: 4px solid #081b29;
}

.placeholder {
  color: #a9a9a9;
  text-decoration: none;
}

.contact-left button {
  position: relative;
  display: flex;
  align-items: end;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  color: #081b29;
  gap: 0px;
  border: none;
  border-radius: 7px;
  background: cyan;
  cursor: pointer;
}

.contact-left button:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

.contact-sci {
  position: absolute;
  top: 2rem;
  right: 10%; 
  transform: translateY(40%); 
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-sci a {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: transparent;
  border: 2px solid cyan;
  border-radius: 50%;
  font-size: 40px;
  color: cyan;
  text-decoration: none;
  margin-right: -1rem;
}

.contact-sci a:hover {
  background: cyan;
  color: #081b29;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

@media (max-width: 768px) {
  .contact-container{
    top: 4rem;
    margin-bottom: 8rem;
  }
  .contact-sci a {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    margin-right: -12rem;
    transform: translateY(-20%,);
    margin-top: 0;
    
  }

  .contact-inputs {
    display: flex;
    position: relative;justify-content: center;
    width: 100%;
    
    
  }
  .contact-left {
    width: 60%;
  gap: 0.5rem;
  top: 0;
  

}
}

@media (max-width: 450px) {
  .contact-container {
    top: 0;
  }
  .contact-inputs {
    display: flex;
    justify-content: center;
    width: 40vh;
    border-radius: 7px;
  }
  .contact-sci a {
    margin-left: 8rem;
  }
  .contact-us {
    font-size: 2rem;
  }

  .contact-sci a {
    display: flex;
  }
}
